<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KnowledgeBaseWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@*     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/style.min.css">
@*     <link rel="stylesheet" href="~/KnowledgeBaseWeb.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header class="site-header">
        <div class="container-fluid">
            <div class="site-header__inner">
                <a href="#">
                    <img src="~/images/logo.svg" height="44" width="123" alt="Star Services Logo">
                </a>
            </div>
        </div>
    </header>

    <main class="site-content">
        <section class="search-helper">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </main>

    <script src="./js/script.min.js"></script>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - KnowledgeBaseWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
