@using System.Globalization
@model DataAccess.Article

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<main class="max-w-3xl mx-auto px-4 py-8">
    <article class="bg-white rounded-lg shadow-sm p-6 md:p-8">
        <section id="steps" class="mb-8">
            <h2 class="text-2xl font-bold mb-4 text-gray-700 text-center ">Edit Article</h2>
            <div class="space-y-4">
                <div class="bg-gray-50 p-4 rounded-lg text-gray-700">
                    @using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { encypt = "multipart/form-data", @class = "form-group" }))
                    {
                        <input hidden required type="text" name="ArticleId" value="@Model.ArticleId" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" />
                        <div class="bg-gray-50 p-1 rounded-md">
                            <h6 class="font-semibold mb-2">Title</h6>
                            <input required type="text" name="Title" value="@Model.Title" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" />
                        </div>
                        <div class="bg-gray-50 p-1 rounded-md">
                            <h6 class="font-semibold mb-2">Content</h6>
                            <textarea required type="text" name="Content" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500">@Model.Content</textarea>
                        </div>
                        <table class="table table-responsive-md">
                            <tr>
                                <td><h6 class="font-semibold mb-2">Category </h6></td>
                                <td>
                                    <select name="CategoryId" id="CategoryId" class="border rounded-lg px-4 py-2 bg-white">
                                        <option value="1">Developer</option>
                                        <option value="2">BA</option>
                                        <option value="3">Tester</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="font-semibold mb-2">
                                        Value Stream
                                    </h6>
                                </td>
                                <td>
                                    <select name="ValueStreamId" id="ValueStreamId" class="border rounded-lg px-4 py-2 bg-white">
                                        <option value="1">Cancellations</option>
                                        <option value="2">Bonds</option>
                                        <option value="3">Transfers</option>
                                        <option value="4">Credit</option>
                                        <option value="5">Registration</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="font-semibold mb-2">
                                        Product

                                    </h6>
                                </td>

                                <td>
                                    <select name="ProductId" id="ProductId" class="border rounded-lg px-4 py-2 bg-white">
                                        <option value="1">SAHL Cancellations Attorney</option>
                                        <option value="2">SAHL Cancellations Bank</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div>
                        </div>

                        <br />
                        <div>
                        </div>
                        <br />
                        <button class="bg-indigo-600 text-white px-6 py-2 rounded-lg hover:bg-indigo-700">Save Article</button>

                        <br />

                        <br />
                        <div class="text-center">
                            <a asp-action="Index" class="bg-gray-600 text-white px-6 py-2 rounded-md hover:bg-white-700">Back to Articles</a>
                        </div>
                    }
                </div>
            </div>
        </section>
    </article>
</main>
