
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="flex-1 max-w-2xl mx-4">
                    <div class="relative">

        @using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { encypt = "multipart/form-data", @class = "form-group" }))
        {
        <input required type="text" placeholder="Leave your comment below" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500">
         <button class="absolute right-3 top-2 text-gray-400 btn btn-primary">Add Comment</button>
        }
                    </div>
                </div>





